body{
  #root{
    width:600px;
    height:600px;
    color:#ff6700;
    font-size: 32px;
    background: url(./assets/1.jpg);
    animation: test 1s linear alternate infinite
  }
}
@keyframes test{
  0%{
    font-size: 36px
  }
  50%{
    font-size: 50px;
  }
  100%{
    font-size: 18px
  }
}